page-home,
.home {
    .img{
        background-image: url("../assets/img/MainBack.jpg");
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .map{
        //border: 2px solid #3369ff;
        height: 40vh;
        width: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
            //overflow: auto;
        }

        .info{
            //border: 2px solid #ffa733;
            height: 52vh;
            width: 100%;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
                //overflow: auto;
            }
            .border{
                border: 2px solid #3d3d3d;
            }

            .custom-nav-bar{
                //background-image: url("http://i66.tinypic.com/v6htsz.jpg");
                //background: url("../assets/img/MainBack.png") no-repeat center center fixed;
                height: 40vh;
                background-image: url("../assets/img/MainBack.png");
                //height: 100%;
                //background: transparent;
                width: 100%;
                background-size: cover;
                background-position: center center fixed;
                //background-repeat: no-repeat;
                //background-size: 100%;
                display: inline-block;
                //border: 1px solid red;
                //position:relative;
                //color: #3639d3;
                //padding-top: -160px;
            }
        
                .main-text{
                    color: color($colors, secondary);
                    text-align: center;
                    font-size: 200%;
                    font-weight: 450;
                }
                .green{
                    color:color($colors, secondary);
                    text-align: center;
                    font-size: 200%;
                    font-weight: 450;
                }
                .blue{
                    color: #428ac5;
                    text-align: center;
                    font-size: 200%;
                    font-weight: 450;
                }
                .center{
                    text-align: center;
                }

                ion-grid {
                    justify-content: center;
                  }
        
}
