<!--
  Generated template for the VehiclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>
  <ion-navbar transparent class="custom-nav-bar" color="gplus">

  </ion-navbar>
</ion-header>


<ion-content>


  <div class="main-content">
    <!--     <img src="{{ user.vehiclePhotoURL }}" class="dp" (click)="selectVehiculeImage()"> -->

    <!--     <h1 text-center>{{user?.brand}} {{user?.model}}</h1> -->
    <div padding style="margin: 0 auto; text-align: center">
        <a class="main-text">Perfil</a>&nbsp;
        <a class="green">   I</a>
        <a class="blue">GO</a>
      </div>

    <img src="{{ user.vehiclePhotoURL }}" class="dp" (click)="selectVehiculeImage()">
    <ion-item>
      <ion-icon item-left primary name="md-easel"></ion-icon>
      <ion-label stacked color="primary">Placa</ion-label>
      <ion-input type="text" [(ngModel)]="user.plate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left primary name="code-working"></ion-icon>
      <ion-label stacked color="primary">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="user.brand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left primary name="closed-captioning"></ion-icon>
      <ion-label stacked color="primary">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="user.model"></ion-input>
    </ion-item>

    <ion-item *ngIf="types">
      <ion-icon item-left primary name="car"></ion-icon>
      <ion-label stacked color="primary">Tipo</ion-label>
      <ion-select [(ngModel)]="user.type">
        <ion-option value="{{ type }}" *ngFor="let type of types">
          {{ type }}
        </ion-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- Cover and profile picture 
  <div class="driver-top primary-bg" text-center no-padding>
    <div class="driver-picture">
      <img class="profile-picture circle" src="{{ user.vehiclePhotoURL }}" (click)="chooseFile()">
      <form ngNoForm hidden>
        <input id="vehicle" name="file" type="file" (change)="upload()">
      </form>
    </div>
  </div>

  
  User information 
  <ion-list class="list-full-border">

    <ion-item>
      <ion-icon item-left primary name="md-easel"></ion-icon>
      <ion-label stacked color="primary">Placa</ion-label>
      <ion-input type="text" [(ngModel)]="user.plate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left primary name="code-working"></ion-icon>
      <ion-label stacked color="primary">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="user.brand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left primary name="closed-captioning"></ion-icon>
      <ion-label stacked color="primary">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="user.model"></ion-input>
    </ion-item>

    <ion-item *ngIf="types">
      <ion-icon item-left primary name="car"></ion-icon>
      <ion-label stacked color="primary">Tipo</ion-label>
      <ion-select [(ngModel)]="user.type">
        <ion-option value="{{ type }}" *ngFor="let type of types">
          {{ type }}
        </ion-option>
      </ion-select>
    </ion-item>
 
  </ion-list> -->

  <ion-buttons text-center>
      <div padding>
        <button block ion-button (click)="save()">Guardar
        </button>
      </div>
    </ion-buttons>
</ion-content>