// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// import page css

// global styles


.half-bg 
{
  background: url("../assets/img/MainBack.png") no-repeat center center fixed;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  //background-size: auto;
  //width: 100%;
  //display: flex;
}

.main-left-menu{
  height: 300px;
  //padding-top: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  //text-align: center;
  //vertical-align: middle;
  //display: inline-block;
  //line-height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .botton-menu-bg{
    max-width: 1000%;
    background-color: rgba(0, 0, 0, 0.7);
    //padding-top: 50px;
    width: 100%;
    //height: 100%;
    height: 50px;
    background-size:100%;
    //display: inline-block;
    //vertical-align: middle;  
    //display: inline-block;
    //text-align: center;
    //font-size: 120%;
    //color: rgb(255, 255, 255);
    display: flex;
  align-items: center;
  justify-content: center;
     span{
      //text-align: center;
      color: rgb(255, 255, 255);
      //vertical-align: middle;
      //line-height: normal; 
      //background: rgba(0, 0, 0, 0.486);
      font-size: 90%;
    }
  }

  //background: no-repeat center center fixed;
  //width: 100%;
}

.bg{
  // background-image: url('../assets/img/MainBack.jpg');
   height: 300px;
   background-size: auto;
   filter: blur(5px);
   //background-position: center center;
   //vertical-align: center center;
   //background-color: #000000;
   margin-left: auto;
  margin-right: auto;
   display: block;
   //border: 3px solid #8b0000;
}
.primary-bg {
    background-color: color($colors, primary);
  }
  
  .secondary-bg {
    background-color: color($colors, secondary);
  }
  
  .gray-bg {
    background-color: color($colors, gray);
  }
  
  .light-bg {
    background-color: color($colors, light);
  }
  
  .padding-xs {
    padding: 10px;
  }
  
  .round {
    border-radius: 3px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // left menu style
  .menu-left {
  
    img.profile-picture {
      width: 10em;
      height: 10em;
      margin-top: 1.75em;
      border-radius: 50%;
      background-repeat: no-repeat;
      border: 6px solid #dfdfdf;
    }
  }
  
  // position
  .align-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  ion-list.list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item-block {
      .item-inner {
        border: none;
      }
    }
  }
  
  ion-list.list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid color($colors, listBorder);
    }
  }
  
  .item-divider {
    background-color: #f5f5f5;
  }
  
  .bottom-buttons {
    position: absolute;
    bottom: 0;
  }
  
  .item {
    h4 {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  
  // auth page
  .logo {
    margin: 20px auto 0;
    padding: 0.3em 1.4em 0.2em 0.4em;
    width: 1.5em;
    border-radius: 10%;
    font-size: 3em;
  }
  
  .auth-bg {
    background: url("../assets/img/bg2.jpg") no-repeat center;
    background-size: 100% 100%;
  
    .scroll-content {
      height: 100%;
  
      .auth-content {
        width: 86%;
        margin-left: 7%;
        margin-top: 40px;
  
        .light-bg {
          // keep only bottom border
          .item-input {
            margin: 0;
            padding-left: 0;
            border: none;
            border-bottom: 1px solid #DDD;
  
            .item-inner {
              border: none;
            }
          }
        }
      }
    }
  }

  .custom-nav-bar{
    //background-image: url("http://i66.tinypic.com/v6htsz.jpg");
    //background: url("../assets/img/MainBack.png") no-repeat center center fixed;
    height: 40vh;
    background-image: url("../assets/img/MainBack.png");
    //height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    border: 1px solid red;
    position:relative;
    color: #d34836;
    padding-top: -160px;
}

    .main-text{
        color: color($colors, secondary);
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .green{
        color:color($colors, secondary);
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .blue{
        color: #3b5998;
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .center{
        text-align: center;
    }
  