page-job-history,
.job-history {

    .address-block {
        border-top: 1px solid color($colors, border-color);
        margin-top: 5px;
      }
      
      agm-map {
        height: 300px;
      }

}
